INSTALL
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
test-driver

Makefile
Makefile.in

.deps
.libs
.dirstamp
*.la
*.lo
*.trs
*.pb.h
*.pb.cc

*/rpc-stubs/*.h
